@model string
@{
    ViewData["Title"] = "Blob Storage";
}
<h1>Azure Blob Storage</h1>
<img src="@Model" alt="Azure Blob Image" width="1000">
<a asp-controller="Home" asp-action="Index">Back to Home</a>
